## PREPROCESAMIENTO DE DATOS

In [26]:
import pandas as pd

train = pd.read_csv("C:\\Users\\USUARIO\\OneDrive - Fundación Universitaria San Pablo CEU\\Documentos\\IA\\competicion_ml_ia\\p3\\data\\public_train.csv")
train.head()

,ccs,adduct,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,...,fgp_611,fgp_612,fgp_613,fgp_614,fgp_615,fgp_616,fgp_617,fgp_618,fgp_619,fgp_620
0,155.71001,Monomer_[M+H],-5.27492,420.85751,0.79886,60.68518,0.22702,54.36304,55.73885,8.28095,...,0,0,1,0,1,1,1,0,1,0
1,179.56000,Monomer_[M-H],-2.00000,1171.97156,1.13333,121.96276,0.15520,100.45390,97.68512,11.36667,...,1,0,0,1,0,1,0,1,1,0
2,180.00000,Monomer_[M+Na],-0.70060,1447.22644,1.30616,141.10509,0.13916,110.47855,108.96603,12.96667,...,0,1,1,0,1,0,0,0,0,1
3,155.53999,Monomer_[M+Na],0.00000,479.80600,0.92774,74.90678,0.21166,65.64590,66.68343,6.83333,...,1,0,1,1,1,0,1,1,0,0
4,173.50000,Monomer_[M+H],-1.63669,978.85028,1.24843,112.27611,0.15789,87.88085,89.68015,10.73333,...,0,1,0,1,0,0,1,0,1,0

In [27]:
test = pd.read_csv("C:\\Users\\USUARIO\\OneDrive - Fundación Universitaria San Pablo CEU\\Documentos\\IA\\competicion_ml_ia\\p3\\data\\public_test.csv")
test.head()

,adduct,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,...,fgp_611,fgp_612,fgp_613,fgp_614,fgp_615,fgp_616,fgp_617,fgp_618,fgp_619,fgp_620
0,Monomer_[M+H],-2.52359,942.17682,1.29512,87.64198,0.16297,83.92964,84.34066,11.00000,4.80405,...,0,1,0,1,1,1,1,1,0,1
1,Monomer_[M-H],2.00538,12122.62988,1.80601,621.73560,0.07288,545.80798,554.61530,22.73333,5.64051,...,0,0,0,1,0,1,1,1,1,1
2,Monomer_[M-H],2.73984,6543.37451,1.52727,440.95099,0.08565,305.62857,313.87540,19.90000,5.31395,...,1,1,1,0,0,0,0,0,1,0
3,Monomer_[M+Na],-2.34683,695.94104,1.04344,74.62116,0.17652,65.28460,63.78675,10.81429,4.25346,...,1,0,0,1,1,0,0,0,1,1
4,Monomer_[M+H],0.00000,101.73023,0.03813,20.08101,0.35359,19.35335,20.59024,6.06667,2.62874,...,1,1,0,0,1,1,0,1,1,1

## ENTRENAMIENTO Y ESTIMACIÓN DE ERROR

## GENERACIÓN DE PREDICCIONES

## CONCLUSIONES